@font-face {
  font-family: 'OpenSans-Bold';
  src: local('OpenSans-Bold'),
    url(assets/fonts/OpenSans-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'OpenSans-Medium';
  src: local('OpenSans-Medium'),
    url(assets/fonts/OpenSans-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: local('OpenSans-Regular'),
    url(assets/fonts/OpenSans-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'OpenSans-SemiBold';
  src: local('OpenSans-SemiBold'),
    url(assets/fonts/OpenSans-SemiBold.ttf) format('truetype');
}
